/*Tilt left game portraits*/
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.appportrait_HoversEnabled_54PuC
{
    transform:skew(calc(-1*var(--ren-tilt-angle)));
	transition-duration: 0.4s;
}

/*Tilt right game portraits, also while tabbed out*/
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.ReactVirtualized__Grid__innerScrollContainer > div.gpfocuswithin ~ div 
.appportrait_HoversEnabled_54PuC
,
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.ReactVirtualized__Grid__innerScrollContainer > div[tabindex]  ~ div 
.appportrait_HoversEnabled_54PuC
{
     transform: skew(var(--ren-tilt-angle));

}

/*Scale focused tile, also while tabbed out*/
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.appportrait_HoversEnabled_54PuC.gpfocuswithin 
,
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.appportrait_HoversEnabled_54PuC[tabindex] 
{
    transform: scale(1.02);
}