/*Decrease brightness and saturation of uncofused tiles in recent games*/
.gamepadhome_RecentSection_39tNv 
.basicgamecarousel_BasicGameCarousel_3MdH5
.appportrait_LibraryItemBox_WYgDg
{
    filter : brightness(var(--ren-game-tile-brightness)) saturate(var(--ren-game-tile-saturate));
}